*
{
    margin: 0 auto;
    width: 1300px;
    font-family: Lato;
}

body
{
    margin-top: 30px;
}

.logo
{
    width: 300px;
    height: 100px;
    margin-left: 39%;
}

#search-input
{
    display: flex;
    align-items: center;
    background-color: #E7E7E7;
    height: 60px;
    margin-top: 20px;
    border-radius: 5px;
    justify-content: space-between;
}
#search-input input
{
    font-size: 22px;
    height: 60px;
    width: 1300px;
    background-color: #E7E7E7;
    border: none;
    border-radius: 5px;
    padding-left: 30px;
    border :none;
    outline: none;
}


#search-input i
{
    display: flex;
    width: 0;
    position: absolute;
    right: 345px;
}

/**********FILTER BOXES*********/
#filters
{
    display:flex;
    left: 0;
    flex-direction: row;
    flex-wrap: wrap;
    gap : 30px;
    flex-grow: 4;
    position: relative;
}

.template input::placeholder
{
    color: rgba(255, 255, 255, 0.527);
}
/**********INGREDIENTS ***********/
.ingredients_tag
{
    margin-left:0;
    margin-right: 0;
    width: auto;
    max-width: 667px;
    border: none;
}

.template
{
    margin-left: 0;
    width: 170px;
    float: left;
    overflow: hidden;
}

.ingredients_close
{
    background-color: #3282F7;
    font-weight: bold;
    color:  #ffffff;
    width: 170px;
    height :69px;
    border-radius: 5px; 
    align-items: center;
    margin-left: 0;
    margin-top: 10px;
}

.ingredients_close header
{
    display: flex;
    width: 170px;
    height:69px;
    padding-left: 10px;
    align-items: center;
}

.ingredients_close header h2
{
    font-weight: normal;
    font-size: 18px;
}
.ingredients_close .angle-down
{
    font-weight: normal;
    font-size: 18px;
    width: 50px;
}

.ingredients .angle-up
{
    position: absolute;
    left:625px;
    color: rgb(255, 255, 255);
    margin-top : 30px;
    width: 15px;
    z-index: 100;
    cursor: pointer;
}

.ingredients
{
    background-color: #3282F7;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 170px;
    height :69px;
    border-radius: 5px; 
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    flex-direction: column;
    overflow: hidden;
}

.ingredients header h2
{
    font-weight: normal;
    font-size: 18px;
    margin-right: 0;
}

.ingredients header .fa-angle-up
{
    display: none;
}

.ingredients input
{
    background-color: #3282F7;
    color: white;
    border: none;
    width: 654px;
    height: 60px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: absolute;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
}

.ingredients .list_ingredients 
{
    background-color: #3282F7;
    width : 666px;   
    flex-wrap: wrap;
    flex: 0 0 30%;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    position : absolute;
    height: 275px;
    overflow: hidden;
    margin-top: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ingredients .list_ingredients span
{
    width: 30%;
    padding: 10px;
    cursor: pointer;
    position: relative;
    margin-left: 0;
}
.ingredients .list_ingredients span:hover
{
    text-decoration: underline;
}
/************APPAREILS*************/
.appareils_tag
{
    margin-left:0;
    margin-right: 0;
    width: auto;
    max-width: 667px;
}

.template
{
    margin-left: 0;
}

.appareils_close
{
    background-color: #68D9A4;
    font-weight: bold;
    color: white;
    width: 170px;
    height :69px;
    border-radius: 5px; 
    align-items: center;
    margin-left: 0;
    margin-top: 10px;
}

.appareils_close header
{
    display: flex;
    width: 170px;
    height: 69px;
    padding-left: 10px;
    align-items: center;
}

.appareils_close header h2
{
    font-weight: normal;
    font-size: 18px;
}

.appareils_close .angle-down
{
    font-weight: normal;
    font-size: 18px;
    width: 50px;
}

.appareils .angle-up
{
    position: absolute;
    left:825px;
    color: rgb(255, 255, 255);
    margin-top : 30px;
    width: 15px;
    margin-right: 0;
    z-index: 100;
    cursor: pointer;
}

.appareils
{
    background-color:#68D9A4;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 170px;
    height:69px;
    border-radius: 5px; 
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    flex-direction: column;
    overflow: hidden;
}

.appareils header .fa-angle-up
{
    display: none;
}

.appareils input
{
    background-color:#68D9A4;
    color: white;
    border : none;
    width: 654px;
    height: 60px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: absolute;
    font-size: 18px;
    padding-left: 10px;
    outline: none;
}
.appareils .list_appareils
{
    background-color:#68D9A4;
    display: none;
    position : absolute;
    width : 666px;   
    flex-wrap: wrap;
    flex: 0 0 30%;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    position : absolute;
    height: 175px;
    overflow: hidden;
    margin-top: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.appareils .list_appareils span
{
    width: 30%;
    padding: 10px;
    cursor: pointer;
    margin-left: 0;
}

.appareils .list_appareils span:hover
{
    text-decoration: underline;
}

/************USTENCILS***************/
.ustenciles_tag
{
    margin-left:0;
    margin-right:30px;
    width: 170px;
    max-width: 667px;
}

.template
{
    margin-left: 0;
    width: 170px;
}
.template .ustencils
{
    background-color: #ED6454;;
    font-weight: bold;
    color: white;
    width: 170px;
    height :69px;
    border-radius: 5px; 
    align-items: center;
    margin-left: 0;
    margin-top: 10px;
}

.ustencils_close
{
    background-color: #ED6454;
    font-weight: bold;
    color:  #ffffff;
    width: 170px;
    height :69px;
    border-radius: 5px; 
    align-items: center;
    margin-left: 0;
    margin-top: 10px;
}

.ustencils_close header
{
    display: flex;
    width: 170px;
    height:69px;
    padding-left: 10px;
    align-items: center;
}

.ustencils_close header h2
{
    font-weight: normal;
    font-size: 18px;
}
.ustencils_close .angle-down
{
    font-weight: normal;
    font-size: 18px;
    width: 50px;
}
.ustencils .angle-up
{
    position: absolute;
    right:260px;
    color: rgb(255, 255, 255);
    margin-top : 30px;
    width: 15px;
    margin-right: 0;
    z-index: 100;
    cursor: pointer;
}

.angle-up i
{
    margin-right: 0;
    width : 15px;
    z-index: 100;
    position: absolute;
}

.ustencils input
{
    background-color:#ED6454;
    color: white;
    border : none;
    width: 654px;
    border-radius: 5px;
    position: absolute;
    font-size: 18px;
    padding-left: 10px;
    height: 60px;
    outline: none;
}

.ustencils .list_ustencils
{
    background-color:#ED6454;
    display: none;
    position : absolute;
    width : 666px;   
    flex-wrap: wrap;
    flex: 0 0 30%;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    position : absolute;
    height: 275px;
    overflow: hidden;
    margin-top: 60px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.ustencils .list_ustencils span
{
    width: 30%;
    padding: 10px;
    cursor: pointer;
    margin-left: 0;
}

.ustencils .list_ustencils span:hover
{
    text-decoration: underline;
}

/**********ARTICLES*********/

#recipes_cards
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    grid-template-rows: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

article
{
    width: 380px;
    min-height: 364px;
    border-radius: 5px;
    background-color: #E7E7E7;
}

.blank-space
{
    background-color: #C7BEBE;
    height : 178px;
    width: 380px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#recipes_cards header
{
    display: flex;
    width: 380px;
    padding-top: 10px;
    background-color: #E7E7E7;
    padding-left: 10px;
    padding-right: 10px;
    width :360px;
    padding-top: 20px;
}
#recipes_cards .informations
{
    background-color: #E7E7E7;
    width: 380px;
    display: flex;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 45px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#recipes_cards header h2 
{
    display: flex;
    width: 285px;
    font-size: 18px;
    margin-left: 0;
}

#recipes_cards header h3 {
    display: flex;
    flex-direction: row;
    width: 60px;
    padding-right: 10px;
    font-weight: bold;
}

#recipes_cards header .duration-icon {
    display: flex;
    width: 23px;
    align-items: center;
}

#recipes_cards .ingredients
{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

#recipes_cards .ingredients_detailed_bloc
{
    width: 190px;
    margin-left: 10px;
}

#recipes_cards .ingredients_detailed_bloc p
{
    width: 160px;
    margin-left: 0px;
}
#recipes_cards .description
{
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    padding-right: 15px;
    text-align:justify;
    width: 220px;
}

.is-hidden 
{ 
    display: none; 
}

/*********FILTERS********/

#tags_selected
{
    left: 0;
    top: 0;
    margin-top: 10px;
    display: flex;
}

.ingredients_tags_wrapper
{
    left: 0;
    width: 170px;
    margin-left: 0px;
    margin-right: 20px;
}
#tags_selected .ingredients_tags_wrapper .ingredient-tag 
{
    background-color: #3282F7;
    height : auto;
    width: 150px;
    color: white;
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    position: relative; 
}

.deleteIcon
{
    color: white;
    margin-right: 0;
    width: 40px;
    z-index: 100;
}

.fa-circle-xmark
{
    width: 50px;
}
.appliance_tags_wrapper
{
    left: 0;
    width: 170px;
    margin-left: 10px;
    margin-right: 20px;
}
#tags_selected .appliance_tags_wrapper .appliance-tag 
{
    background-color:#68D9A4;
    height : auto;
    width: 150px;
    color: white;
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    position: relative; 
}

.ustensil_tags_wrapper
{
    left: 0;
    width: 171px;
    margin-left: 10px;
    margin-right: 0;
}
#tags_selected .ustensil_tags_wrapper .ustencils-tag 
{
    background-color:#ED6454;
    height : auto;
    width: 150px;
    color: white;
    margin-top: 10px;
    margin-left: 0px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    position: relative; 
    justify-content: space-between;
}

/* Error message */ 

.no-result-message
{
    font-size: 25px;
    font-weight: bold;
    color: #92372d;
}
